<div class="content-wrapper">
    <h1 style="text-align: center;">This thing works!</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod inventore repellat accusamus aliquam id voluptatum ullam nemo beatae. Doloribus odit sint minus inventore pariatur dolore obcaecati earum nobis voluptate iste.
    </p>

    <div class="card">
        <div class="card-header">
            <h3>Guve a roboto</h3>
        </div>
        <div class="card-body">
            <button (click) = "CallRoboto()" class="btn button-primary">
                Robot!
            </button>
        </div>
    </div>
</div>
